
<h3>View Candidates</h3>
{{!-- looping the list getting form backend  --}}
{{#each list2}}
    <div class="viewDetails">
        {{!-- all details inside div --}}
        <strong><ul>Job Title: &nbsp;{{this.jobtitle}} </ul></strong>
        <ul>Job ID: &nbsp;{{this.jobid}} </ul>
        <ul>Applied on: {{this.time}}</ul>
        <ul>Candidate Name: {{this.username}}</ul>
        <ul>Candidate Email: {{this.email}}</ul>
        <ul><a href="{{this.resume}}" download>View resume</a></ul>
        <br>
    </div>
{{/each}}