
<h3>View Jobs</h3>
{{#each list1}}

<!-- Display all the jobs detail in the server-->
<div class="viewDetails">
    <strong><ul>Job Title: &nbsp;{{this.jobtitle}} </ul></strong>
    <ul>Job ID: &nbsp;{{this.jobid}} </ul>
    <ul>Job Type:&nbsp;{{this.jobtype}} </ul>
    <ul>Job Description: &nbsp;{{this.jobdescription}} </ul>
    <ul>Date Posted: {{this.time}}</ul>
    <br>
</div>
{{/each}}
